* {
  box-sizing: border-box;
}

/* Colors
Blue: #00a1de  // rgb(0,161,222)
Yellow: #fad201 // rgb(250,210,1)
Green: #20603d; // rgb(32, 96, 61)
*/

html, body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  background-color: #28282b;
}

/* Transporter */
#transporter-view {
  position: fixed;
  top: 45vh;
  left: 50vw;
  width: 300px;
  margin-left: -150px;
  transition: transform .5s ease;
}

#transporter-view.up {
  transform: translate3d(0, -40vh, 0);
}

/* Hamburger icon */
.hamburger-container {
  display: inline-block;
  width: 30px;
  height: 35px;
  border-radius: 4px;
  background-color: #00a1de;
  cursor: pointer;
}

.hamburger {
  position: relative;
  top: 11px;
  left: 7px;
  width: 17px;
  height: 3px;
  background: #fad201;
  box-shadow:
    0 5px 0 0 #fad201,
    0 10px 0 0 #fad201;
}

/* Input Output Bar */
input {
  position: absolute;
  left: 30px;
  padding: 0;
  height: 35px;
  width: 240px;
  /* 16px disables auto-zoom on iPhone input */
  font-size: 16px;
  text-align: center;
  color: #d30c12;
  border: 3px #fad201 solid;
  border-radius: 4px;
  cursor: default;
}

input:focus {
  border: none;
  outline-color: #20603d;
  outline-style: dotted;
  outline-width: medium;
  text-align: left;
  color: black;
  padding: 0 0 0 3px;
  cursor: auto;
}

input.warning {
  border: 3px #d30c12 solid;
}

/* Plus icon */
.plus-container {
  display: inline-block;
  position: absolute;
  left: 270px;
  width: 30px;
  height: 35px;
  border-radius: 4px;
  background-color: #20603d;
  cursor: pointer;
}

.plus-container .horizontal-bar {
  position: relative;
  top: 16px;
  left: 7px;
  width: 17px;
  height: 3px;
  background: #fad201;
}

.plus-container .vertical-bar {
  position: relative;
  top: 6px;
  left: 14px;
  width: 3px;
  height: 17px;
  background: #fad201;
}

.plus-container .text {
  position: relative;
  top: 10px;
  left: 4px;
  font-size: 13px;
  color: #fad201;
  font-weight: bold;
}

/* Food and result lists */
.middle #list-view {
  display: none;
}

table {
  border-collapse: collapse;
  text-align: center;
}

.food td {
  width: 90px;
}

.result td {
  width: 100px;
}

td.destroy {
  width: 30px;
}

th, td {
  padding: 8px;
}

th {
  background-color: #4CAF50;
  color: white;
}

.food:nth-child(even), .result:nth-child(even) {
  background-color: #f2f2f2
}

.list {
  background: white;
  overflow: auto;
  max-height: 75vh;
  width: 300px;
}

@media (min-width:801px) {
  .result:hover {
    background-color: rgba(250,210,1,0.6);
  }
}

/* Destroy button */
.food .destroy button {
  display: block;
  border: none;
  padding: 0;
  font-size: 30px;
  color: #cc9a9a;
  transition: color 0.2s ease-out;
  margin-top: -5px;
  background-color: inherit;
}

@media (max-width:801px) {
  .food .destroy button {
    color: #af5b5e;
  }
}

.food .destroy:hover button {
	color: #af5b5e;
}

.food .destroy button:after {
	content: '×';
}

.food:hover .destroy button {
  border: none;
}

